.footyComp{position:relative;min-height:340px;background: #da0707 url('../../assets/images/russia_2018_logo_wc.png');background-size: auto 100%;background-position: 50% 50%; padding:20px;border-radius: 8px;color: snow}
.footyComp h2{background: rgba(158, 20, 20, 0.5);}
.footyComp p{width:30%;background: rgba(158, 20, 20, 0.5);padding:20px;font-size: 1.3em;}
.footyComp button{position: relative;top:40px;left:70%;cursor: pointer;}
.showBox{border: 1px #eaeaea solid;padding:10px;margin-top:10px;}
.messageBox{border: 1px #d8d5d5 solid;padding:0px 5px;margin-top:10px;border-radius:8px;}
.formBox{border:none;padding:120px 10px;text-align: center;}
.formBox input{margin-top:8px;border:0px 0px 1px 0px #aaaaca solid;border-top:none;border-right:none;border-left:none;text-align: center;font-size: 1.2em;}
.formBox input:focus{border-bottom-style:#3e90ee;}
.gameClass{padding-top:10px;margin-bottom:5px;min-height: fit-content;margin:0px auto;min-height:80px;border-bottom:1px solid #eaeaea;display:block;}
.gameStats{width:20%;height:30px;padding-top:5px;float:left;color:#535357}
.gameStats p{font-size:0.6em;line-height:6px;}
.gameClass a{position: relative;top:20px;}
.teamclass{width:30%;height:30px;padding:20px 10px;float:left;text-align: center;font-size:1em;}
[class*="teamflag-"]{position: relative;top:4px;left:-5px;width:18px;height:18px;text-align:center;overflow: hidden;border-radius:8px;box-shadow:1px 1px 5px #aaaaca;}
[class*="teamname-"]{width:120px;}
.teamflag-left,.teamname-left{float:left;}
.teamflag-right,.teamname-right{float:right;}
.teamflag-left img,.teamflag-right img{height:inherit;}
.vsclass{width:15px;padding:23px 5px;height:30px;float:left;text-align: center;font-style: italic;font-size: 0.8em;}
.gameUGscore{width:20px;padding:0px 3px;height:30px;float:left;text-align: center;font-size:1.1em;}
.gameinput{padding:10px;height:30px;float:left;text-align: center;width:20px;font-size:1.1em;}
@media (max-width: 580px) {
    .teamclass{width:25%;}
    .teamflag-left,.teamname-left{float:none;display:block;}
    .teamflag-right,.teamname-right{float:none;display:block;}
    [class*="teamflag-"]{position: relative;top:-10px;left:50%;display:block;text-align: center;}
    .gameClass{min-height:100px;}
    .gameUGscore{width:90%;text-align: center;}
}