.mainBox{text-align: center;padding:10px;background:rgba(71, 67, 67, 0.75);min-height:220px;color:rgb(227, 125, 205);border-radius:15px;margin-bottom:10px;}
.mainBox h2{font-size:2.5em;line-height:45px;padding-bottom:5px;margin-bottom:0px;}
.mainBox p{font-size:1.5em;padding-top:5px;margin-top:0px;}