.mainBox{text-align: center;padding:10px;background:rgba(50, 47, 47, 0.75);min-height:220px;color:rgb(125, 203, 227);border-radius:15px;}
.mainBox h1{font-size:3em;line-height:35px;}
.mainBox p{font-size:1.8em;}