<div class="navbar">
  <div class="container">
      <a routerLink="/"><img class="img-circle" src="{{image_logo}}" style="float:left;width:50px;"></a>
    <nav *ngIf="authService.isLoggedIn">
      <a routerLink="/shops">Local Shops</a>
    </nav>
    <nav>
      <a routerLink="/carwash">Car Wash</a>
    </nav>
    <nav>
      <a routerLink="/resources">Resources</a>
    </nav>
    <nav class="pull-right" *ngIf="!authService.isLoggedIn">
      <a routerLink="/login">Login</a>
    </nav>
    <nav class="pull-right" *ngIf="authService.isLoggedIn">
      <span class="link" (click)="logout()"><i class="icon icon-white icon-eject"></i></span>
    </nav>
    <nav class="pull-right" *ngIf="authService.isLoggedIn">
      <a class="link" routerLink="/profile"><i class="icon icon-white icon-user"></i></a>
    </nav>
  </div>
</div>
