<div class="row clearfix">
    <div class="col-md-12 jumbotron">
        <h1>Webhosting perfect for a REST API</h1>
        <p>I have been using <a href="https://www.versio.uk/?pa=103411ijcpa" target="_BLANK">versio.nl</a> as a rest API and it has been really great.</p>
        <p>You can take advantage of their services as well. These include:</p>
        <ul>
            <li>Webhosting starts from &pound;0.40 per month</li>
            <li><b>1500MB</b> HDD disk space</li>
            <li><b>20GB</b> brandwidth</li>
            <li>Upto <b>25</b> Domains can be hosted</li>
        </ul>
        <p class="pull-right"><a href="https://www.versio.uk/?pa=103411ijcpa" target="_BLANK" class="btn btn-lg btn-primary">Affiliate Link</a></p>
        <p>Want to learn how to create a REST API, <a href="https://www.youtube.com/watch?v=cubwduHbam0&list=PLWbIvgEXhyFK7mAtmcFsXkB2-55dN6taD" target="_BLANK">check our tutorial on Youtube.</a></p>
    </div>
</div>
<div class="row clearfix">
    <div class="col-md-4 ">

    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
</div>
<div class="row clearfix">
    <div class="col-md-12">
        <p>
            <span class="caption">Advertisement</span><br>
            <a href="https://www.versio.uk/?pa=103411ijcpa" target="_BLANK"><img src="https://www.versio.uk/assets/promotional/en/Versio_webbanner_webhosting_orange_728x90.gif" /></a>
        </p>
    </div>
</div>
