<div class="container">
  <div class="row">
    <div class="col-md-12">
        <h1>The Ushball World Cup Predictor Game <img class="pull-right" width="80px" src="assets/images/2018_FIFA_World_Cup.png" /></h1>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="row">
      <div class="col-md-4 pull-right">
        <select [(ngModel)]="group_id" name="group_id" (change)="getParticipants(group_id)">
          <option *ngFor="let ugm of usergroupmap" [value]="ugm.group_id">{{ugm.title}}</option>
        </select>
        <h3>Leaderboard</h3>
        <table class="table table-striped">
          <thead>
            <tr style="text-align:left;">
              <th width="20%">Pos.</th>
              <th width="60%">Name</th>
              <th width="20%">Points</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let parti of participants">
              <td>{{ parti.position }}</td>
              <td>{{parti.first_name}}</td>
              <td *ngIf="parti.state==1" style="text-align:center;">{{parti.points || 0}}</td>
              <td *ngIf="parti.state==0" style="text-align:center;">pending...</td>
            </tr>
          </tbody>
        </table>
      </div>
    <div class="col-md-8">
      <select [(ngModel)]="game_id" name="game_id" (change)="getAllGames(game_id)">
        <option *ngFor="let game of games2" [value]="game.id">Game #: {{game.game_no}} {{game.country1}} vs {{game.country2}}</option>
      </select>
      <div class="col-md-12" *ngFor="let game of games">
        <p>{{game.game_date.split(' ')[0] | date:'d MMMM y'}}</p>
        <table class="table">
          <tbody>
            <tr>
              <th>Game #:</th><td>{{game.game_no}}</td>
              <th>Group:</th><td>{{game.group}}</td>
              <th>Result:</th><td>{{game.country1}} {{game.score1}} - {{game.score2}} {{game.country2}} 
                  <a class="pull-right" (click)="scoreModal(game)"><i class="icon icon-edit icon-white"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="table table-striped">
          <thead>
            <tr>
              <th style="text-align:left;">Participant</th><th>Guess</th><th>Points</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let guess of game.guesses">
              <td>{{guess.first_name}}</td><td style="text-align:center;">{{guess.scoreA}} - {{guess.scoreB}}</td><td style="text-align:center;">{{guess.points}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>

<!-- The Modal -->
<div [ngClass]="modalClass">

    <div class="modal-header">
      <span (click)="closeModal()" class="close">&times;</span>
      <h2>Update the Score</h2> 
    </div>
    <!-- Modal content -->
    <div class="modal-content">
      <div class="clearfix gameClass">
        <div class="teamclass"><img class="teamflag pull-left" src="{{flag1}}" /> {{country1}}</div>
        <input [(ngModel)]="score1" type="text" class="gameinput" />
        <div class="vsclass">vs</div>
        <input [(ngModel)]="score2" type="text" class="gameinput" />
        <div class="teamclass">{{country2}} <img class="teamflag pull-right" src="{{flag2}}" /></div>
      </div>
      <div class="clearfix"></div>
      <div class="col-md-12">
          <input [(ngModel)]="secret" type="password" class="form-control" placeholder="You need to enter the secret code to update the score" />
      </div>
    </div>
    <div class="modal-footer">
      <a class="btn btn-success pull-right click" (click)="saveGamescore()">Update Score</a>
    </div>
    
  </div>
