<div class="myGrid">
  <div>
    <h2><a [routerLink]="['/carwash']" routerLinkActive="router-link-active">Local Car Wash Services</a></h2>
    <p>Get your car cleaned while you @ work.</p>
    <p><button [routerLink]="['/carwash']" routerLinkActive="router-link-active" class="btn btn-primary pull-right">Learn more</button></p>
  </div>
  <div>
    <h2><a [routerLink]="['/activities']" routerLinkActive="router-link-active">Find Local Activities</a></h2>
    <p>Find out what's happening in your local community in the build up to Christmas.</p>
  </div>
</div>
