<app-toolbar></app-toolbar>
<router-outlet></router-outlet>
<div class="footer">
    <div class="container">
        <table class="table">
            <tbody>
                <tr>
                    <td><a routerLink="/">Home Page</a></td>
                    <td><a routerLink="/shop">Go shopping</a></td>
                    <td><a routerLink="/powertools">Power Tools</a></td>
                </tr>
                <tr>
                    <td><a routerLink="/fishing">Anglers Delight</a></td>
                    <td><a routerLink="/finance">Finance</a></td>
                    <td><a routerLink="/resources">Resources</a></td>
                </tr>
                <tr>
                    <td></td>
                    <td> </td>
                    <td> </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


