<app-toolbar></app-toolbar>
<div class="container">
    <router-outlet></router-outlet>
</div>
<div class="footer">
    <div class="container">
        <table class="table">
            <tbody>
                <tr>
                    <td><a routerLink="/">Home Page</a></td>
                    <td><a routerLink="/shops">Go shopping</a></td>
                    <td><a routerLink="/resources">Resources</a></td>
                </tr>
                <tr>
                    <td><a routerLink="/fishing">Anglers Delight</a></td>
                    <td><a href="http://www.balancetracker.co.uk" target="_BLANK">Finance</a></td>
                    <td> </td>
                </tr>
                <tr>
                    <td></td>
                    <td> </td>
                    <td> </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


