<div class="row">
  <div class="col-md-12">
    <h1 class="link" [routerLink]="['/blog/why-are-our-local-small-businesses-failing']" routerLinkActive="router-link-active" >Why are our local small businesses failing?</h1>
    <img src="https://www.ushbub.co.uk/assets/images/shop_closed_front.jpg" style="width:60%;" class="pull-right">
    <p>It's a fact, our local shops in our high streets and communities are being starved of foot traffic into their premises. Over the past 10 years some high profile brands have been crippled and gone out of business. The devastation left behind has meant there are numerous commercial buildings that are now dormant in our High Streets across Britain. From BHS, Toys-r-us, Blockbuster and Woolworths to name a few.</p>
    <h2>Why did these brands lose their battles?</h2>
    <p>We have dramatically changed our shopping behaviours..</p>
    <p><button class="btn btn-primary pull-right link" [routerLink]="['/blog/why-are-our-local-small-businesses-failing']" routerLinkActive="router-link-active">Read the full article</button></p>
  </div>
</div>
<div class="clearfix"></div>
