.addshop{margin-top:15px;}
.shopadvert{position:relative;height:340px;border:1px solid #eee;border-radius: 10px;overflow: hidden;background:#fff url('../../assets/images/advert_web_api.png');}
.shopadvert::after{position:absolute;bottom:5px;right:20px;color:#666;font-size:0.8em;font-style: italic;content: "Advertisement";z-index: 800;}
.shopadvert p{position: absolute;bottom: 0px;left:40px;font-size:2em;}