<div class="col-md-12">
  <h1>Why are our local small businesses failing?</h1>
  <img src="https://www.ushbub.co.uk/assets/images/shop_closed_front.jpg" style="width:60%;" class="pull-right">
  <p>It's a fact, our local shops in our high streets and communities are being starved of foot traffic into their premises. Over the past 10 years some high profile brands have been crippled and gone out of business. The devastation left behind has meant there are numerous commercial buildings that are now dormant in our High Streets across Britain. From BHS, Toys-r-us, Blockbuster and Woolworths to name a few.</p>
  <h2>Why did these brands lose their battles?</h2>
  <p>We have dramatically changed our shopping behaviours with the rise of the internet. We have far more choice as we continue to strive for convenience. In many cases, these large brands were created on business models that heavily relied on people walking into their stores. It is virtually impossible to ignore online solutions and place your focus on footprints through the door. The most recent and prolific example was the Australian company, Bunnings, who purchased Homebase for £340m two years ago, only to have sold it for £1 and take a £230m loss this year alone. Their strategy was to focus on store sales and plenty of stock in each store. Unfortunately, they ignored all the signals the UK market has been showing with so much growth in online shopping. This shows how important such business decisions and strategies can be to the survival and longevity of a company.</p>
  <p>Despite many businesses failing, there are super giants and mega chains that have been trying to solve this problem for several years and there's really good success. Online grocery shopping has taken off, Amazon have been a major player in online retail and they have changed our habits. But this has come at a cost, as Amazon and the super giants grow, our local shops are starved. There’s less people walking the high street and going into shops. This means they get less sales and with costs of living continually going up, the challenges inevitably cause them to close up shop as they cannot adapt.</p>
  <h2>What are the challenges of a small business?</h2>
  <p>To illustrate the challenges of businesses today, let’s take a look at a traditional bakery. It does not make sense to build an e-commerce website with card payment, videos and live stock feeds if the average sale is approximately £7-12. It leaves very little margin for profit as a website can cost up to £800 year maintenance and cost over £5000 to create. Bakeries also face a challenge of getting their target market to visit their website and enough concentrated traffic. If we look at a green grocer or butchers, they too suffer the same challenges, even though the average order is larger in value.</p>
  <h2>How are the super giants and mega stores different?</h2>
  <p>Unlike a butchers, greengrocers or bakery each with an individual website, the super giants can sell these products plus many others on a single website and app. This means consumers visit just one site to get all their goods and only pay a single delivery fee or even get their delivery free if they spend enough. They also have a far greater reach going nation wide and often even globally. Their budgets are vastly greater and they have far more run-way that helps them learn and improve their solutions to maximise profits in the long term.</p>
  <p class="text-centre"><i>"the condition of sharing or having certain attitudes and interests in common"</i></p>
  <h2>Can small businesses adapt and survive?</h2>
  <p>Simply put, yes, businesses can adapt and not only survive, they can grow and flourish. Small businesses have always had the benefit of having more of a relationship with their customer base. They are part of the community and by definition, a community is the condition of sharing or having certain attitudes and interests in common. Communities need small businesses and not just coffee shops, salons and charity shops but variety and choice.</p>
  <p>After more than two years of research, development and testing, with failures and some successes along the way, I’m now close to realising some very exciting solutions that allow communities better interact and support small businesses.</p>
  <p>If you have a business and want to find out how you can take advantage of the services I have created, sign up to reserve one of the 10 spots I am opening up as an early bird offer. You will get free access to the platform and 1-to-1 introductory training on how to maximise your business on the platform.</p> 
  <p> <button class="btn btn-lg btn-success pull-right" (click)="closeModal()">Sign up now</button><br><br><br></p>
  <p>If you are passionate about your community and want to support your local shops and see them thrive, simply sign up to get a notification when new shops are added within your community. The service is completely <u>free</u> and we have no plan of charging to be part of the Ushbub community.</p>
</div>
<div class="clearfix"></div>
<!-- Subscribe Modal -->
<div [(ngClass)]="modalClass" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <button class="close" (click)="closeModal()"><span aria-hidden="true">&times;</span></button>
          <div class="subcribeBox">
              <p style="padding-left:10%;width:70%;text-align:center;font-size:1.3em;">We thrilled you interested in finding out more about Ushbub. Leave your name and e-mail below and we will add you to our VIP list to get the latest updates.</p>
          </div>
      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col-md-4"><input type="text" class="form-control" [(ngModel)]="first_name" placeholder="First Name" /></div>
          <div class="col-md-6"><input type="email" class="form-control" id="email" [(ngModel)]="email" placeholder="E-mail address" /></div>
          <div class="col-md-2"><button type="button" class="btn btn-warning" (click)="subscribe()">Subscribe</button></div>
        </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>

