/* You can add global styles to this file, and also import other style files */
body,app-root,app-toolbar{width:100%;margin-top:60px;font-family: Ubuntu, "Helvetica Neue", Helvetica, Arial, sans-serif;font-size: 14px;
  line-height: 1.42857143;}
.pull-right{float:right;}
.pull-left{float:left;}
img{width:100%;}
.container{width:80%;margin: 0 auto;height:inherit;}
a{color: #337ab7;text-decoration: none;}
.jumbotron {padding-top: 30px;padding-bottom: 30px;margin-bottom: 30px;color: inherit;background-color: #eee;}
.jumbotron h1, .jumbotron .h1 {color: inherit;}
.jumbotron p {margin-bottom: 15px;font-size: 21px;}
.jumbotron > hr {border-top-color: #d5d5d5;}
.container .jumbotron, .container-fluid .jumbotron {padding-right: 15px;padding-left: 15px;border-radius: 6px;}
.img-circle{border-radius: 100%;}
.item1 { grid-area: image;}
.item2 { grid-area: title;}
.grid-container{display:grid;
    grid-template-areas:'image title title title title title';
    grid-gap: 10px;
    padding: 10px;}