<div class="container">
  <div class="row">
    <div class="pt-ws">
      <div>
        <h1>Find the right accessory to get the job done!</h1>
        <p>Have you ever been frustrated when you go to a hardware store and spend so long trawling to try find the right accessory to get the job done?</p>
        <p>It sometimes resembles the thought of sifting through a workshop for the first time, trying to find that 5 pound mallet. Even after finding the accessory you think is right, you uncertain whether it will fit in the type of powertool you have at home.</p>
        <p>After feeling like this many a time, we have decided to solve this problem that has plagued so many people and to make the lives of DIY and tradesmen easier with our accessory finder. Our tool guides you through the process of finding the ideal accessory to give you the results you want.</p>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="row">
      <div class="col-md-3">
        <br>
      </div>
      <div class="col-md-9"><button *ngIf="progress>0" (click)="goBack()">Go Back</button></div>
  </div>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-md-3">
      <table class="table pt-select">
        <tbody>
          <tr>
            <td>Product Type:</td><td>{{product_type}}</td>
          </tr>
          <tr>
            <td>Connector:</td><td> </td>
          </tr>
          <tr>
            <td>Material Category:</td><td> </td>
          </tr>
          <tr>
            <td>Material Sub-Category:</td><td> </td>
          </tr>
        </tbody>
      </table>
      <progress value="{{progress*19}}" max="100">
          {{progress}} Complete
      </progress>

    </div>
    <div class="col-md-9" *ngIf="progress==0">
      <div *ngFor="let category of categories" class="col-md-3">
        <div (click)="onSelectCat(category.alias,category.title)" class="pt-item">
          <img src="{{ checkLink(category.image_link) }}" height="100px" max-width="100%" /><br>
          <p>{{category.title}}</p>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="col-md-9" *ngIf="progress==1">
        <div *ngFor="let connector of connectors" class="col-md-3">
          <div (click)="onSelectConnector()" class="pt-item">
            <img src="{{ checkLink(connector.image_link) }}" height="100px" max-width="100%" /><br>
            <p>{{connector.connector}}</p>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
  </div>
  <div class="clearfix"></div>
</div>
