.header h1{
    position: relative;
    text-align: center;
    top: 140px;right:120px;}
.header p{
    position: relative;
    top: 120px;left:275px;}
.sidebar { grid-area: right;}
.grid-container {
    display: grid;
    grid-template-areas:
      'header header header header header right right';
    grid-gap: 10px;
    padding: 10px;
    background: rgba(87, 57, 23, 0.623);
    min-height: 240px;
  }
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.507);
    padding: 20px 10px;
    border-radius:5px;
  }
.chngTown{color:#666;font-size:0.8em;}
.mainframe{width:100%;height:500px;position: relative;overflow: hidden;}
.pt-ws{padding:10px;height:340px;background:rgba(51, 48, 48, 0.1);background-position: 50% 80%; background-size: 100%;overflow: hidden;}
.mainframe h1{padding:10px;position: relative;top:100px;color:#16162b;text-align:center;display:block;}
.mainframe>.row>.leadService{overflow: hidden;height:300px;}
.leadService>div.caption{position: absolute;color:#efefef;z-index: 100;padding:30px;width:90%;height:50%;}
.leadService>div.caption>a{position: inherit;bottom: 20px;right:20px;}
.leadService>img{position: relative;bottom:120px;z-index:5;}
.mainframe>.row>.sub-box{position:inherit;border: 1px solid #cfcfcf;height:150px;border-radius: 5px;overflow: hidden;cursor: pointer;}
.mainframe>.row>.sub-box>p{padding:10px;font-size: 1.2em;text-align:center;}
.mainframe>.row>.sub-box>p>b{color:#0535b9;font-size: 1.3em;}
.mainframe>.row>.sub-box>.caption{text-align:center;background:rgba(0,0,0,0.8);padding:10px 0px;position: relative;top:-11px;width:100%;display:block;color:#efefef;margin: 0 auto;border-radius: 0px 0px 5px 5px;}
.searchbar{margin: 0px auto;margin-top:150px;width:70%;}
.searchbar input{width:70%;font-size:1.5em;padding:10px;border: 1px solid #dfdfdf;}
.searchbar button{font-size: 1.4em;background: #16162b;color: #fff;position: relative;right: 5px;}
.footyComp{position:relative;min-height:340px;background: teal url('../../assets/images/russia_2018_logo_wc.png');background-size: auto 100%;background-position: 50% 50%; padding:20px;border-radius: 8px;color: snow}
.footyComp p{width:30%;background: rgba(158, 20, 20, 0.5);padding:20px;font-size: 1.3em;}
.footyComp a{position: relative;top:40px;left:70%;cursor: pointer;}
.pt-div h2,.fishing-ad h2{width:100%;position: relative;top:135px;text-align: center;background: rgba(5, 5, 5, 0.5);padding:5px 0px}
.pt-div h2 a,.fishing-ad h2 a{color:#fff;}
.pt-div{height:200px;background:url('../../assets/images/power_tools_general.jpg') rgba(255, 255, 255, 0.5);background-position: 50% 80%; background-size: 100%;margin-bottom:10px;}
.fishing-ad{height:200px;background:url('../../assets/images/anglers_delight.jpg') rgba(255, 255, 255, 0.5);background-position: 50% 80%; background-size: 100%;margin-bottom:10px;}
.showClick{cursor: pointer;}
@media (max-width: 910px) {
  .footyComp p{width:80%;}
  .container{width:95%;}
}